.nav {
  display: flex;
  align-items: center;
  height: 64px;
}

.header {
  padding: 0.25rem 0;
  border-bottom: 1px solid grey;
}

.footer {
  border-top: 1px solid grey;
  justify-content: center;
}

.header img {
  height: 75%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 6rem;
}

.rates-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.rates-table .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  padding: 1rem;
}
